/* PostForm.css */
.darkStyle {
  background-image: var(--bs-gradients);
}

.style {
  background-image: var(--bs-gradient);
}

.my-color {
  color: rgb(55, 41, 68);
}

.dark-color {
  color: rgb(156, 154, 157);
}

.my-card {
  background-color: rgb(189, 166, 211);
}

.dark-card {
  background-color: rgb(228, 155, 177);
}

.post-form-container {
  position: fixed;
  top: 25%;
  right: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  /* background-color: rgb(148, 126, 224); */
  /* background-image: var(--bs-gradient); */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Set a high z-index value */
}



.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-label {
  margin-bottom: 5px; /* Add more space between the label and the field */
}

.post-form label {
  font-weight: bold;
  padding-right: 10px;
}

.post-form input,
.post-form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-form button {
  background-color: #482376;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* Make the button width 100% */
}

.post-form button:hover {
  background-color: #281342;
}

.alert-danger {
  width: 100%; /* Set the width of the warning message to match the button */
  margin-bottom: 10px; /* Add space between the button and the warning message */
  margin-top: 15px;
  background-color: rgb(164, 62, 62);
  color: black;
}

.icon {
  width: 20px;
  height: 23px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
