/* .btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 20px 25px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

 
.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh; /*Fill the viewport height */
  padding-top: 80px; /* Adjust to match the height of your navbar */
}
 

.btn-circle.btn-xl {
  width: 150px; /* Adjust button size */
  height: 150px; /* Adjust button size */
  padding: 20px 25px; /* Adjust padding between buttons */
  margin: 60px; /* Adjust margin between buttons */
  border-radius: 80px;
  font-size: 20px;
  color:  rgb(150, 150, 222);
  background-color: rgb(56, 56, 156);

}

h1 {
  margin-top: 40px; /* Adjust margin between heading and buttons */
  color:  rgb(150, 150, 222);
}


